[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ccgaussian = {editable = true, path = "."}
polycraft-nov-data = {editable = true, path = "./submodules/polycraft-novelty-data"}

[dev-packages]

[requires]
python_version = "3.10"
